$articleMaxWidth: 980px;

.ndla-article {
  padding: 5% 8% 5% 8%; //  8% $spacing 8%
  background: #fff;
  width: 100%;
  // flex: 0 1 1080px;
  // max-width: 1280px;
  position: relative;
  margin: 0 auto 0 auto;

  &__title {
    max-width: $articleMaxWidth;
    position: relative;
    margin: 0 auto 0 auto;
  }
  &__content {
    width: 100%;
    max-width: $articleMaxWidth;
    position: relative;
    margin: 0 auto 0 auto;
    font-size: 22px;
    line-height: 1.44;
  }

  &__meta {
    color: #777;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: $spacing;
    max-width: $articleMaxWidth;
    position: relative;
    margin: 0 auto $spacing auto;

    &__seperator {
      margin-left: 6px;
      margin-right: 6px;
      display: inline-block;
      width: 1px;
      height: 16px;
      background-color: #d4d4d4;
      transform: rotate(30deg);
      position: relative;
      top: 2px;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
  }
}
