.ndla-frontpage {
  &__content {
    position: relative;
    margin: 0 auto 0 auto;
    width: 100%;
    max-width: 1280px;
    box-sizing: border-box;
  }

  &__flexcontent {
    flex: 1;
  }

  &__latest, &__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    width: 980px;
    position: relative;
    margin: $spacing--medium auto 0 auto;

    h3 {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 22px;
    }

    ul {
      padding: 0;
      margin: $spacing 0 0 0;
    }
    li {
      list-style: none;
    }
    a {
      font-weight: 600;
    }
  }

  &__post {
    flex: 1 0 50%;
    box-sizing: border-box;
    position: relative;
    height: 240px;
    overflow: hidden;
    padding: 8px;
    &:hover {
      img {
        transform: scale(1.25);
      }
    }

    &__image {
      min-height: 240px;
      background: #f9f9f9;
      position: absolute;
      margin: 8px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 4;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        transform: scale(1);
        transition: transform ease 1s;
      }
    }

    &__title {
      position: absolute;
      z-index: 5;

      max-width: 67%;
      color: #444;
      margin: 0;
      &.right {
        text-align: right;
        // max-width: 100%;
        right: $spacing;
      }
      &:not(.right) {
        left: $spacing;
      }
      &.bottom {
        bottom: $spacing--medium;
      }
      &:not(.bottom) {
        // top: $spacing--medium;
        bottom: $spacing--medium;
      }

    }

    &.white {
      .ndla-frontpage__post__title {
        color: $white;
      }
      .ndla-frontpage__post__image {
        &:after {
          display: block;
          content: "";
          position: absolute;
          top: 0; left: 0; right: 0; bottom: 0;
          background: rgba(0, 0, 0, 0.24);
        }
      }
    }
  }

  &__mostviewed {
    flex: 1 0 50%;
  }

  &__guides {
    flex: 1 0 50%;
  }

  &__pagination {
    display: flex;
    color: #fff;

    &__item {
      flex: 1 0 50%;
      line-height: 38px;
      &--right {
        align-self: flex-end;
        text-align: right;
      }
    }
    a {
      color: #fff;

      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

.ndla-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  h2 {
    text-transform: uppercase;
    font-weight: 700;
  }

  &__mostviewed {
    flex: 1 0 50%;
    padding: 0 $spacing--small 0 $spacing--small;
    ul {
    }

    li {
      list-style: none;
      font-size: 18px;
      color: $brand-color;
      a {
        text-decoration: underline;
        box-shadow: none;
        font-weight: 600;
        &:hover {
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
  }

  &__guides {
    padding: 0 $spacing--small 0 $spacing--small;
    box-sizing: border-box;
    /*
      Responsive styling
    */
    @media screen and (max-width: 620px) {
      flex: 1 0 100%;
    }

    @media screen and (min-width: 621px) {
      flex: 0 0 50%;
    }
    ul {
      list-style: none;
      padding-left: 0;
      margin-left: 0;
    }

    li {
      list-style: none;
    }
  }
}

.ndla-guide {
  li {
    display: inline-block;
    margin-right: 9px;
    margin-bottom: 9px;

    a {
      display: block;
      background: $brand-color--light;
      box-shadow: none;
      border-radius: 5px;
      @include font-size(18px, 23px);
      font-weight: 600;

      color: $brand-color--dark;
      padding: 9px 20px;

      &:hover,
      &:active,
      &:focus {
        background-color: $brand-color;
        color: $white;
      }
    }
  }
}
