/* Styling for welcome page */
.ndla-welcome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  max-width: 980px;
  position: relative;
  margin: 0 auto 0 auto;

  &__title {
    margin: 0;
    font-size: 36px;
    padding: 8px;
    box-sizing: border-box;
    flex: 1 0 140px;
  }

  &__image {
    flex: 1 0 140px;
    height: 140px;
    background: #f7f7f7;
    margin: 8px;
    box-sizing: border-box;
  }

  &__description {
    margin: 0;
    font-size: 24px;
    font-weight: 100;
    padding: 8px;
    box-sizing: border-box;
  }
}

.ndla-frontpage {
  &__content {
    position: relative;
    margin: 0 auto 0 auto;
  }

  &__latest, &__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    width: 980px;
    position: relative;
    margin: $spacing--medium auto 0 auto;

    h3 {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 22px;
    }

    ul {
      padding: 0;
      margin: $spacing 0 0 0;
    }
    li {
      list-style: none;
    }
    a {
      font-weight: 600;
    }
  }

  &__post {
    flex: 1 0 50%;
    box-sizing: border-box;
    position: relative;
    height: 240px;
    overflow: hidden;
    padding: 8px;
    // margin: 8px;

    &__image {
      min-height: 240px;
      background: #f9f9f9;
      position: absolute;
      margin: 8px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 4;

      &:after {
        display: block;
        content: "";
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background: rgba(0, 0, 0, 0.24);
      }
      img {
        width: 100%;
        height: auto;
      }
    }

    &__title {
      position: relative;
      z-index: 5;
      // top: 180px;
      margin-left: 16px;
      max-width: 75%;
      color: #fff;
    }
  }

  &__mostviewed {
    flex: 1 0 50%;
  }

  &__guides {
    flex: 1 0 50%;
  }

  &__guide {
    display: inline-block;
    a {
      display: block;
      padding: 4px 8px 4px 8px;
      margin-right: 16px;
      border-radius: 4px;
      color: $brand-color;
      background-color: $brand-color--light;
      text-decoration: none;
      box-shadow: none;
    }
  }
}
