.ndla-header {
  &__title {
    a {
      text-decoration: none;
      box-shadow: none;
    }
    img {
      width: 120px;
      height: auto;
    }
    &__alt {
      display: none;
      visibility: hidden;
    }
  }
}
