.ndla-featured {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  position: relative;
  margin: $spacing--medium auto 0 auto;

  &__post {
    flex: 0 0 50%;
    box-sizing: border-box;
    position: relative;
    height: 240px;
    overflow: hidden;
    padding: 8px;

    a {
      display: block;
      height: 100%;
      width: 100%;
    }

    &__title {
      position: absolute;
      z-index: 5;

      max-width: 67%;
      color: #444;
      margin: 0;
    }
  }
}
